/* Styles for RecentsView component */
.recents-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.recents-scroll::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
} 